extends layout

block content

    .container-fluid.blue-page
        .row
            .container
                .row
                    .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.text-center
                        h1 404
                        h3 Oops! Looks like we couldn't find that page. Check your URL for errors or try starting a new search to explore tag suggestions and statistics.