extends layout

block content

    .container-fluid.blue-page
        .row
            .col-lg-8.col-lg-offset-2.text-center
                h1 404
                p Oops! Looks like we couldn't find that page. Check your URL for errors or try starting a new search to explore tag suggestions and statistics.