extends layout

block content

    .container-fluid.error-page
        .row
            .col-lg-10.col-lg-offset-1.text-center
                h1 404
                p Oops! Looks like we couldn't find that page. Try starting a new search to explore tag suggestions and statistics.