extends layout

block content
    .container-fluid.stat-summary
        .container
            .row
                .col-sm-4.col-md-4.col-lg-3
                    .row
                        .col-sm-12.col-md-12.col-lg-12 
                            h3 !{results.searchTerm}
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h6 YOUR SEARCH TERM
                .col-sm-3.col-md-2.col-lg-2
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h2.highlight #{results.total}
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h6 TOTAL LISTINGS
                .col-sm-3.col-md-2.col-lg-2
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h2.highlight !{results.tagsSorted.length}
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h6 TAG SUGGESTIONS
                .col-sm-2.col-md-2.col-lg-2
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h2.highlight !{results.viewsDaily}
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h6 AVERAGE DAILY VIEWS
        .container-fluid
            .row
                .col-lg-5.col-lg-offset-1.toggle-results
                    div(role='tabpanel')
                        ul.nav.nav-tabs.nav-justified(role='tablist')
                            li.active(role='presentation')
                                a(href='#listings', aria-controls='listings', role='tab', data-toggle='tab') LISTINGS
                            li(role='presentation')
                                a(href='#tags', aria-controls='tags', role='tab', data-toggle='tab') TAGS
    .container
        .row
            .col-lg-12
                .tab-content
                    .tab-pane.active(role='tabpanel', id='listings')
                        include dashboard-listings
                    .tab-pane(role='tabpanel', id='tags')
                        include dashboard-tags                            
