extends layout

block content
    .row
        .col-md-4.col-md-offset-4
            form(name="search-form", action="/", method="POST").search-form
                .form-group
                    label.sr-only(for="search_tag")
                    input(type="text", name="search_tag", placeholder="Search for a tag").form-control
                    input(type="submit", value="Submit").btn.col-md-12

