doctype html
html

  head
    title= title

    // Bootstrap minified CSS CDN
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    .navbar.navbar-default
        .container
            .navbar-header
                a.navbar-brand(href="/") ETSY SELLER METRICS

    block content