doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='Etsy,seller,statistics,sales,SEO,relevancy,listings,metrics,sales tool')
    meta(name='description', content='A tool for Etsy sellers to generate useful statistics and tag suggestions to improve listings and increase sales.')

    title= (title || '') + 'Etsy Seller Metrics' 

    link(rel='icon', type='image/png', href='/image/favicon/favicon-32x32.png', size='32x32')
    link(rel='icon', type='image/png', href='/image/favicon/favicon-16x16.png', size='16x16')

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/base.js')

    block style-custom

  body
    .navbar.navbar-default
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nav-collapsed-content')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") ETSY SELLER METRICS
            .collapse.navbar-collapse#nav-collapsed-content
                form.navbar-form.navbar-right.search(role='search', name='search-form', action='/search', method='GET')
                    .form-group
                        input.form-control.input-sm(type='text', name='tag', maxlength='20', placeholder='Find listings by tag')
                    button.btn.btn-sm(type='submit')
                        span.glyphicon.glyphicon-search
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/help') Help
                    li.dropdown
                        a(href='#', data-toggle='dropdown', role='button', aria-expanded='false').dropdown-toggle About 
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='/about') Info
                            li.divider
                            li
                                a(href='/contact') Contact

    block content

    .container-fluid#footer
        .row
            .container
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center &copy; Copyright 2014 Etsy Seller Metrics
                        br
                        strong Legal Disclaimer:&nbsp;&nbsp;
                        | The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy, Inc.

    .scroll-top.hidden-xs
        span.glyphicon.glyphicon-circle-arrow-up

    <!--========== Google Analytics ==========-->
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60860830-1', 'auto');
        ga('send', 'pageview');
