@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);


/*
=================================================
Base styling
=================================================
*/

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
}

a {
    color: #52abd2;
}

.navbar {
    background-color: #fefefe;
    box-shadow: 0 1px 3px rgba(0,0,0,.06);
    height: 60px;
    margin-bottom: 0;
    padding-top: 5px;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    color: #484848;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3px;
}

.navbar-default .navbar-nav>li>a {
    color: #595959;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar .search input {
    border-radius: 30px;
    margin-top: 1px;
    min-width: 250px;
}

.navbar .search .btn {
    background-color: transparent;
    color: #484848;
    font-size: 16px;
    margin: 2px 0 0 7px;
    padding: 0;
}

#footer {
    background-color: #fcfcfc;
    border-top: 1px solid #e9e9e9;
    color: #595959;
    padding-bottom: 30px;
    padding-top: 30px;
}


/************************************************
Index view
************************************************/

.landing-text h1,
.landing-text h3 {
    color: #fff;
    font-weight: normal;
}

.landing-text h1 {
    font-size: 49px;
    margin-top: 100px;
}

.landing-text h3 {
    font-size: 20px;
    line-height: 28px;
}

.landing-search {
    margin: 40px auto 15px;
}

.landing-search .input-group .form-control {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    height: 38px;
    min-width: 300px;
}

.landing-search .btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}


/*
=================================================
Dashboard view
=================================================
*/

/* Tabs to toggle result panes */
.toggle-results {
    margin-top: 20px;
    text-transform: uppercase;
}

.nav-tabs.nav-justified>li>a {
    border-color: #f3f3f3;
    border-bottom: none;
    font-size: 13px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #f6f6f6;
    box-shadow: 1px 0 2px rgba(0,0,0,0.07);
    color: #595959;
}

.nav-tabs>li>a:hover {
    background-color: transparent;
    border-color: #f3f3f3;
    box-shadow: none;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
    color: #595959;
    border: 1px solid #f6f6f6;
}

.tab-pane {
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 120px;
}

/* Dashboard panel with results content */
.panel {
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.07);
    margin: 0;
}

.panel>.panel-body {
    padding-bottom: 0;
}

.panel-default>.panel-heading {
    background-color: #f6f6f6;
    border-bottom: 1px solid rgba(0,0,0,0.03);
    margin: 0;
    padding: 13px 20px;
}

.panel-default>.panel-heading .explanation {
    color: #999;
    font-size: 13px;
    padding: 10px 40px 20px;
}

.panel-default>.panel-heading .explanation h3 {
    color: #484848;
    font-weight: 300;
}


.listing {
    border-bottom: 1px solid #f0f0f0;
    color: #484848;
    font-size: 13px;
    padding: 20px 10px;
}

.listing .col-lg-3 {
    width: 205px;
}

.listing .col-lg-9 {
    padding-right: 0;
}

.listing .stat-label {
    margin-right: 5px;
}

.listing .space-right {
    line-height: 26px;
    margin-right: 20px;
}

.listing .tag {
    background-color: #f3f3f3;
    color: #999;
    display: inline-block;
    font-size: 12px;
    margin: 7px 7px 0 0;
    padding: 3px 7px 5px 7px;
}

.listing a.tag:hover {
    background-color: #fafafa;
    text-decoration: none;
}

/* Bootstrap pills for sorting options */
.sort-listings .nav-pills>li {
    float: right;
    font-size: 9px;
    margin-left: 12px;
    text-transform: uppercase;
}

.sort-listings .nav-pills>li>a {
    border-radius: 10px;
    color: #b0b0b0;
    padding: 4px 10px;
}

.sort-listings .nav-pills>li>a:hover,
.sort-listings .nav-pills>li.active>a, 
.sort-listings .nav-pills>li.active>a:focus, 
.sort-listings .nav-pills>li.active>a:hover {
    background-color: #e9e9e9;
    color: #595959;
}

/* Tag suggestion list in left column */
.list-tags {
    margin-bottom: 60px;
    margin-top: 30px;
}

.list-tags .h4,
.list-tags a {
    color: #333;
    font-size: 15px;
}

.percent-bar {
    background-color: #ddd;
    border-radius: 2px;
    height: 5px;
    margin-top: 6px;
}

.percent-bar .fill {
    background-color: #52abd2;
    border-radius: 2px;
    height: 5px;
}

.percent-text {
    color: #666;
    font-size: 14px;
    padding-top: 7px;
}

.stat-block {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    color: #484848;
    font-size: 36px;
    font-weight: 300;
    margin: 40px 0 20px 0;
    padding: 15px 20px 20px;
}

.blue {
    background-color: #66b5d7;
    color: #fff;
}

.dark-blue {
    background-color: #335397;
    color: #fff;
}

.stat-label {
    color: #b0b0b0;
    font-size: 12px;
    font-weight: 400;
}

.stat-label.muted {
    color: #e3e3e3;
}

.info-page {
    margin-top: 70px;
    min-height: 600px;
}

.info-page p {
    margin-top: 18px;
}

.info-page h1 {
    font-weight: 300;
}

/* Scroll to top arrow */
.scroll-top {
    text-align: center; 
    background: none;
    font-size: 60px;
    color: #484848;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: none;
    z-index: 999999;
}

.error-page {
    background-color: #66b5d7;
    color: #fff;
}
.error-page h1 {
    font-size: 180px;
    font-weight: 300;
    margin-top: 120px;
}

.error-page p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 200px;
}

.no-result h3 {
    font-weight: 300;
    margin-bottom: 250px;
    margin-top: 100px;
}