@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


/*
=================================================
Base styling
=================================================
*/

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
}

.navbar {
    background-color: #fbfbfb;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.04); */
    height: 60px;
    margin-bottom: 0;
    padding-top: 7px;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
}

.navbar .search input {
    border-radius: 30px;
    min-width: 230px;
}

.navbar .search .btn {
    background-color: transparent;
    color: #999;
    font-size: 16px;
    margin-left: 4px;
    padding: 0;
}


/*
=================================================
Index view
=================================================
*/

.landing-search {
    margin: 150px 0;
}
.landing-search .btn {
    background-color: #f08777;
    border-color: #f08777;
    box-shadow: 0 2px 1px #9f6158;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 6px;
}


/*
=================================================
Dashboard view
=================================================
*/

.highlight {
    color: #e74c3c;
}

/* Summary statistics in container below navbar */
.stat-summary {
    background-color: #eee;
    padding: 15px 0 25px 0;
}

.stat-summary h2, 
.stat-summary h3 {
    margin-bottom: 0;
    line-height: 28px;
}

/* Bootstrap pills for sorting options */
.nav-pills {
    margin: 30px 0 12px 0;
}

.nav-pills>li {
    float: right;
    font-size: 9px;
    margin-right: 15px;
}

.nav-pills>li>a {
    border-radius: 10px;
    color: #999;
    padding: 4px 10px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    background-color: #e5e5e5;
    color: #888;
}

/* Tag suggestion list in left column */
.list-tags .h4,
.list-tags a {
    color: #333;
    font-size: 15px;
}

.percent-bar {
    background-color: #ddd;
    border-radius: 2px;
    height: 5px;
    margin-top: 16px;
}

.percent-bar .fill {
    background-color: #e74c3c;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 5px;
}

.percent-text {
    color: #666;
    font-size: 14px;
    padding-left: 0;
    padding-top: 7px;
}

/* Cards for Etsy listing results */
.listing-card {
    background-color: #fff;
    border-radius: 3px;
    color: #000;
    box-shadow: 1px 1px 1px #e9e9e9;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 5px;
}

.listing-card a {
    color: #000;
}

.listing-card .img {
    padding-right: 0;
}

.listing-card .small {
    font-size: 9px;
    line-height: 28px;
}

.listing-card .small.pad-left {
    margin-left: 8px;
}

.listing-card .tag {
    background-color: #efefef;
    color: #999;
    display: inline-block;
    font-size: 11px;
    margin: 0 4px 4px 0;
    padding: 3px 5px 5px 5px;
}

.listing-card a.tag:hover {
    background-color: #f8f8f8;
    text-decoration: none;
}

/* Listing card styling for Bootstrap small view */
.listing-card .sm-view-stats {
    margin-top: 5px;
}

.listing-card .sm-view-stats .small {
    line-height: 16px;
}

.listing-card .sm-view-tags {
    padding-top: 8px;
}
