@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
}


.navbar {
    background-color: #fafafa;
    box-shadow: 0 1px 3px rgba(0,0,0,0.04);
    height: 54px;
    margin-bottom: 0px;
    padding-top: 4px;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
}


/*
=================================================
Index view
=================================================
*/

.search-form {
    margin: 150px 0px;
}
.search-form .btn {
    background-color: #f08777;
    border-color: #f08777;
    box-shadow: 0 2px 1px #9f6158;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 6px;
}


/*
=================================================
Dashboard view
=================================================
*/

.summary-stats {
    background-color: #eee;
    padding: 15px 0px 25px 0px;
}

.summary-stats h2 {
    color: #e74c3c;
}

.summary-stats h2, 
.summary-stats h3 {
    margin-bottom: 0px;
    line-height: 28px;
}

.tag-list .h4 {
    font-size: 15px;
}

.percent-bar {
    background-color: #ddd;
    border-radius: 2px;
    height: 5px;
    margin-top: 16px;
}

.percent-bar .percentage {
    background-color: #e74c3c;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 5px;
}

.percent-text {
    color: #666;
    font-size: 14px;
    padding-left: 0px;
    padding-top: 7px;
}

.nav-pills {
    margin: 30px 0px 12px 0px;
}

.nav-pills>li {
    float: right;
    font-size: 9px;
    margin-right: 15px;
}

.nav-pills>li>a {
    border-radius: 10px;
    color: #555;
    padding: 4px 10px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    background-color: #ddd;
    color: #555;
}

.listing-card {
    background-color: #fff;
    border-radius: 3px;
    color: #000;
    box-shadow: 1px 1px 1px #e9e9e9;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 5px;
}

.listing-card a {
    color: #000;
}

.listing-card .img-column {
    padding-right: 0px;
}

.listing-card .small {
    font-size: 9px;
    line-height: 28px;
}

.listing-card .small-stat-row {
    margin-top: 5px;
}

.listing-card .small-stat-row .small {
    line-height: 16px;
}

.listing-card .daily-views {
    color: #e74c3c;
}

.listing-card .small.pad-left {
    margin-left: 8px;
}

.listing-card .small-tag-row {
    padding-top: 8px;
}

.listing-card .word-tag {
    background-color: #efefef;
    color: #999;
    display: inline-block;
    font-size: 11px;
    margin: 0px 4px 4px 0px;
    padding: 3px 5px 5px 5px;
}

.nav-search input {
    border-radius: 30px;
    min-width: 230px;
}

.nav-search>.btn {
    background-color: transparent;
    color: #999;
    font-size: 16px;
    margin-left: 4px;
    padding: 0px;
}